@import '../scss/variables';

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    max-width: 284px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
